{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}
<link rel="stylesheet" href="{%static 'app/css/chapterHeader.css' %}">
<link rel="stylesheet" href="{%static 'app/css/Style.css' %}">
<link rel="stylesheet" href="{%static 'app/css/comment.css' %}">
<link rel="stylesheet" href="{%static 'app/css/chart.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

     <body>
       <div>
            <div>
                 <div class="top">
                 {% comment %} <ul class="link">
                      <li><a href="#">Trang chủ</a></li>
                      <li><a href="#">Thể loại</a></li>
                      <li><a href="#">Tên truyện</a></li>
                      <li><a href="#">Chapter</a></li>
                 </ul> {% endcomment %}
                 <h1 class="tieu_de">
                      <a href="#">Tên Truyện</a>
                      <span>- {{chapterList.name}}</span>
                 </h1>
                 </div>
                 <div class="bang_thao_tac">
                      Nếu không xem được truyện vui lòng đổi "SERVER ẢNH" bên dưới
                 <div class="server">
                      <button style = "height : 40px ; width : 100px" type="button" class="btn btn-primary">Server 1</button>
                      <a style = "height : 40px ; width : 100px" class="btn btn_chon" href="#">Server 1</a>
                      <a style = "height : 40px ; width : 100px" class="btn" href="#">Server 2</a>
                 </div>
                 <div style = "display : flex ; align-items : center ; justify-content : center ;" class="bao_loi">
                      <a style = "height : 40px ; width : 100px ; display: flex ; align-items : center ; justify-content : center ;" class="btn_loi" href="#">Báo lỗi</a>
                 </div>
                 <div class="huong_dan">
                      <i class="fa-solid fa-info"></i>
                                
                      <em>Sử dụng mũi tên trái (<-) hoặc phải (<-) để chuyển chapter</em>
                 </div>
                 <div style = "display: flex ; align-items: center ; gap : 20px ; justify-content: center"  class="chuyen_chap" aria-hidden="true"></i>
                      <a class="home" href="/"><i class="fa-solid fa-house"></i></a>
                      <a class="back_chaplist" href="#"><i class="fa-solid fa-list"></i></a>
                      {% if start %}
                      <a class="previous" href = ""><i class="fa-solid fa-square-caret-left"></i></a>
                      {% else %}
                      <a class="previous" href = "../{{chapterPrev}}"><i class="fa-solid fa-square-caret-left"></i></a>
                      {% endif %}
                     
                      {% comment %} <select> {% endcomment %}
                          
                      {% comment %} </select> {% endcomment %}
                      {% if end %}
                      <a class="next" href = ""><i class="fa-solid fa-square-caret-right"></i></a>
                      {% else %}
                      <a class="next" href = "../{{chapterNext}}"><i class="fa-solid fa-square-caret-right"></i></a>
                      {% endif %}

                     
                      {% comment %} <a class="follow" href="#">
                           <i class="fa-solid fa-star"></i>
                           <span>Theo dõi</span>
                      </a> {% endcomment %}
                 </div>
               <div style = "display : flex ; align-items: center ; gap : 10px ; justify-content: center;" >
                    {% for chapter in chapterAll %}
                    {% comment %} <option> {% endcomment %}
                       <a style = "padding : 10px ; background-color : #ccc ;  border-radius : 10px" href = "../{{chapter.order}}">
                            {{chapter.name}} 
                       </a>    
                    {% comment %} <option> {% endcomment %}
                   {% endfor %}
               </div>
              

               
                 </div>
            </div>  
             <div style="display : flex ; align-items : center ; justify-content : center ; flex-direction : column ; background-color : black";  >
                   {% for image in chapterContent %}
                          <img src="{{ image }}"/>
                   {% endfor %}
              </div>
             </div>   

             <div style = "display: flex ; align-items: center ; gap : 20px ; justify-content: center ; padding : 20px 0px ; margin : 20px 0px"  class="chuyen_chap" aria-hidden="true"></i>
               {% if start %}
                   <a style = "padding: 10px 20px ; background-color : black" class="previous" href = ""><i class="fa-solid fa-square-caret-left"></i></a>
               {% else %}
                   <a class="previous InteractButton btnReadLike" href = "../{{chapterPrev}}"><i class="fa-solid fa-square-caret-left"></i></a>
               {% endif %}

               {% if end %}
               <a style = "padding: 10px 20px ; background-color : black" class="next" href = ""><i class="fa-solid fa-square-caret-right"></i></a>
               {% else %}
               <a class="next InteractButton btnReadLike  " href = "../{{chapterNext}}"><i class="fa-solid fa-square-caret-right"></i></a>
               {% endif %}
            </div>

     </body>
{% endblock main-content %}
