{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'app/css/chart.css' %}">
</head>
<body>
  <div class="chart-container"> 
      <div class="visited-comics">
          <div class="box darkBox">
              <h2>
                  Lịch sử xem truyện
                  <a class="view-all" href="/lichsu">Xem tất cả</a>
              </h2>
              <ul class="list-unstyled">
                  <li class="clearfix">
                      <div class="t-item">
                          <a class="thumb" title="Ta Làm Kiêu Hùng Tại Dị Giới" href=""><img class="center"  src="https://st.nettruyenvt.com/data/comics/92/ta-lam-kieu-hung-tai-di-gioi.jpg" alt="Ta Làm Kiêu Hùng Tại Dị Giới"></a>
                          <h3 class="title"><a href="">Ta Làm Kiêu Hùng Tại Dị Giới</a></h3>
                          <p class="chapter">
                              <a href="">Đọc tiếp chapter</a>
                              <span class="view pull-right">
                                  <a class="visited-remove" href="#">
                                      <i class="fa fa-times">
                                      </i>
                                      Xóa
                                  </a>
                              </span>
                          </p>    
                      </div>
                  </li>
              </ul>
          </div>
      </div>
      <div class="comic-wrap">
          <div class="Module-Content">
              <div class="box-tab box darkBox">
                  <ul class="tab-nav clearfix">
                      <li><a rel="nofollow" title="BXH truyện tranh theo tháng" class="active" href="">Top tháng</a></li>
                      <li><a rel="nofollow" title="BXH truyện tranh theo tuần" class="active" href="">Top tuần</a></li>
                      <li><a rel="nofollow" title="BXH truyện tranh theo ngày" class="active" href="">Top ngày</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="tab-pane">
          <div id="topMonth"><ul class="list-unstyled">
              <li class="clearfix">
              <span class="txt-rank fn-order pos1">01</span>
              <div class="t-item comic-item" data-id="17696">
              <a class="thumb" title="Truyện tranh Võ Luyện Đỉnh Phong" href="https://www.nettruyenvt.com/truyen-tranh/vo-luyen-dinh-phong-176960">
              <img class="lazy center" src="//st.nettruyenvt.com/data/comics/32/vo-luyen-dinh-phong.jpg" data-original="//st.nettruyenvt.com/data/comics/32/vo-luyen-dinh-phong.jpg" alt="Võ Luyện Đỉnh Phong">
              </a>
              <h3 class="title">
              <a href="https://www.nettruyenvt.com/truyen-tranh/vo-luyen-dinh-phong-176960">Võ Luyện Đỉnh Phong</a>
              </h3>
              <p class="chapter top">
              <a data-id="977229" href="https://www.nettruyenvt.com/truyen-tranh/vo-luyen-dinh-phong/chap-3196/977229" title="Chapter 3196">Chapter 3196</a>
              <span class="view pull-right">
              <i class="fa fa-eye">
              </i> 29M</span>
              </p>
              </div>
              </li>
              <li class="clearfix">
              <span class="txt-rank fn-order pos2">02</span>
              <div class="t-item comic-item" data-id="76852">
              <a class="thumb" title="Truyện tranh Trùng Sinh Trở Lại 1983 Làm Phú Hào" href="https://www.nettruyenvt.com/truyen-tranh/trung-sinh-tro-lai-1983-lam-phu-hao-76852">
              <img class="lazy center" src="//st.nettruyenvt.com/data/comics/52/trung-sinh-tro-lai-1983-lam-phu-hao.jpg" data-original="//st.nettruyenvt.com/data/comics/52/trung-sinh-tro-lai-1983-lam-phu-hao.jpg" alt="Trùng Sinh Trở Lại 1983 Làm Phú Hào">
              </a>
              <h3 class="title">
              <a href="https://www.nettruyenvt.com/truyen-tranh/trung-sinh-tro-lai-1983-lam-phu-hao-76852">Trùng Sinh Trở Lại 1983 Làm Phú Hào</a>
              </h3>
              <p class="chapter top">
              <a data-id="973094" href="https://www.nettruyenvt.com/truyen-tranh/trung-sinh-tro-lai-1983-lam-phu-hao/chap-258/973094" title="Chapter 258" class="visited">Chapter 258</a>
              <span class="view pull-right">
              <i class="fa fa-eye">
              </i> 12M</span>
              </p>
              </div>
              </li>
              <li class="clearfix">
              <span class="txt-rank fn-order pos3">03</span>
              <div class="t-item comic-item" data-id="26253">
              <a class="thumb" title="Truyện tranh Tiên Võ Đế Tôn" href="https://www.nettruyenvt.com/truyen-tranh/tien-vo-de-ton-262530">
              <img class="lazy center" src="//st.nettruyenvt.com/data/comics/141/tien-vo-de-ton.jpg" data-original="//st.nettruyenvt.com/data/comics/141/tien-vo-de-ton.jpg" alt="Tiên Võ Đế Tôn">
              </a>
              <h3 class="title">
              <a href="https://www.nettruyenvt.com/truyen-tranh/tien-vo-de-ton-262530">Tiên Võ Đế Tôn</a>
              </h3>
              <p class="chapter top">
              <a data-id="973960" href="https://www.nettruyenvt.com/truyen-tranh/tien-vo-de-ton/chap-421/973960" title="Chapter 421">Chapter 421</a>
              <span class="view pull-right">
              <i class="fa fa-eye">
              </i> 9.270K</span>
              </p>
              </div>
              </li>
              <li class="clearfix">
              <span class="txt-rank fn-order pos4">04</span>
              <div class="t-item comic-item" data-id="21948">
              <a class="thumb" title="Truyện tranh Đại Quản Gia Là Ma Hoàng" href="https://www.nettruyenvt.com/truyen-tranh/dai-quan-gia-la-ma-hoang-219482">
              <img class="lazy center" src="//st.nettruyenvt.com/data/comics/188/dai-quan-gia-la-ma-hoang.jpg" data-original="//st.nettruyenvt.com/data/comics/188/dai-quan-gia-la-ma-hoang.jpg" alt="Đại Quản Gia Là Ma Hoàng">
              </a>
              <h3 class="title">
              <a href="https://www.nettruyenvt.com/truyen-tranh/dai-quan-gia-la-ma-hoang-219482">Đại Quản Gia Là Ma Hoàng</a>
              </h3>
              <p class="chapter top">
              <a data-id="976026" href="https://www.nettruyenvt.com/truyen-tranh/dai-quan-gia-la-ma-hoang/chap-379/976026" title="Chapter 379">Chapter 379</a>
              <span class="view pull-right">
              <i class="fa fa-eye">
              </i> 8.454K</span>
              </p>
              </div>
              </li>
              <li class="clearfix">
              <span class="txt-rank fn-order pos5">05</span>
              <div class="t-item comic-item" data-id="22182">
              <a class="thumb" title="Truyện tranh Ngạo Thị Thiên Địa" href="https://www.nettruyenvt.com/truyen-tranh/ngao-thi-thien-dia-221820">
              <img class="lazy center" src="//st.nettruyenvt.com/data/comics/166/ngao-thi-thien-dia.jpg" data-original="//st.nettruyenvt.com/data/comics/166/ngao-thi-thien-dia.jpg" alt="Ngạo Thị Thiên Địa">
              </a>
              <h3 class="title">
              <a href="https://www.nettruyenvt.com/truyen-tranh/ngao-thi-thien-dia-221820">Ngạo Thị Thiên Địa</a>
              </h3>
              <p class="chapter top">
              <a data-id="976732" href="https://www.nettruyenvt.com/truyen-tranh/ngao-thi-thien-dia/chap-564/976732" title="Chapter 564">Chapter 564</a>
              <span class="view pull-right">
              <i class="fa fa-eye">
              </i> 7.726K</span>
              </p>
              </div>
              </li>
              <li class="clearfix">
              <span class="txt-rank fn-order pos6">06</span>
              <div class="t-item comic-item" data-id="32846">
              <a class="thumb" title="Truyện tranh Nghịch Thiên Chiến Thần" href="https://www.nettruyenvt.com/truyen-tranh/nghich-thien-chien-than-328460">
              <img class="lazy center" src="//st.nettruyenvt.com/data/comics/78/nghich-thien-chien-than.jpg" data-original="//st.nettruyenvt.com/data/comics/78/nghich-thien-chien-than.jpg" alt="Nghịch Thiên Chiến Thần">
              </a>
              <h3 class="title">
              <a href="https://www.nettruyenvt.com/truyen-tranh/nghich-thien-chien-than-328460">Nghịch Thiên Chiến Thần</a>
              </h3>
              <p class="chapter top">
              <a data-id="970452" href="https://www.nettruyenvt.com/truyen-tranh/nghich-thien-chien-than/chap-321/970452" title="Chapter 321">Chapter 321</a>
              <span class="view pull-right">
              <i class="fa fa-eye">
              </i> 7.576K</span>
              </p>
              </div>
              </li>
              <li class="clearfix">
              <span class="txt-rank fn-order pos7">07</span>
              <div class="t-item comic-item" data-id="77404">
              <a class="thumb" title="Truyện tranh Ta Làm Kiêu Hùng Tại Dị Giới" href="https://www.nettruyenvt.com/truyen-tranh/ta-lam-kieu-hung-tai-di-gioi-77404">
              <img class="lazy center" src="//st.nettruyenvt.com/data/comics/92/ta-lam-kieu-hung-tai-di-gioi.jpg" data-original="//st.nettruyenvt.com/data/comics/92/ta-lam-kieu-hung-tai-di-gioi.jpg" alt="Ta Làm Kiêu Hùng Tại Dị Giới">
              </a>
              <h3 class="title">
              <a href="https://www.nettruyenvt.com/truyen-tranh/ta-lam-kieu-hung-tai-di-gioi-77404">Ta Làm Kiêu Hùng Tại Dị Giới</a>
              </h3>
              <p class="chapter top">
              <a data-id="976919" href="https://www.nettruyenvt.com/truyen-tranh/ta-lam-kieu-hung-tai-di-gioi/chap-180/976919" title="Chapter 180" class="visited">Chapter 180</a>
              <span class="view pull-right">
              <i class="fa fa-eye">
              </i> 7.158K</span>
              </p>
              </div>
              </li>
              </ul>
          </div>
          <div id="topWeek"></div>
          <div id="topDay"></div>
      </div>
  </div>
</body>
</html>