
{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Manga</title>
    <link rel="stylesheet" href="{%static 'app/css/Style.css' %}">
    <link rel="stylesheet" href="{%static 'app/css/chart.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} 
</head>

<body>

      
      
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{%static 'app/images/banner11.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'app/images/banner21.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'app/images/banner3.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'app/images/banner4.png' %}" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <div style = "margin : 30px 0px" class="container" >
                  <div>
                    <div style = "border-bottom: 1px solid #ccc ; margin-top: 50px ; display : flex ; align-items: center ; gap : 10px" >
                      <i style="font-size: 20px" class="fa-solid fa-book"></i>
                      <h4 style="font-weight: bold" >MANGA</h4>
                    </div>
            
                    <div style = "display: flex ; align-items: center ; gap : 10px"  >
                        {% for manga in mangaList %}
                              <a style = "margin : 40px 0px" href="/manga/{{ manga.idManga }}">
                                <div style="width : 260px ; height : 420px;  cursor : pointer; margin-top :20px" >
                                  <div style = "border : 1px solid #ccc ; margin-bottom : 10px ; border-radius : 5px ; padding : 5px">
                                    <img style = "object-fit : contain;" src= "static/images/{{manga.image}}"/>
                                  </div>
                  
                                  <div>
                                    <a style="font-weight : bold; font-size : 15px ; width : full" >{{manga.name}}</a>
                                  </div>
                                  <span>
                                      <i style="color : yellow;" class="fa-sharp fa-solid fa-star"></i>
                                      5
                                  </span>
                                </div>
                              </a>
                        {% endfor %}
                    </div>
                  </div>

                  <div>
                      <div style = "border-bottom: 1px solid #ccc ; margin-top: 50px ; display : flex ; align-items: center ; gap : 10px" >
                        <i style="font-size: 20px" class="fa-solid fa-book"></i>
                        <h4 style="font-weight: bold" >MANHUA</h4>
                      </div>
              
                      <div style = "display: flex ; align-items: center ; gap : 10px" >
                          {% for manga in manhuaList %}
                                <a style = "margin : 40px 0px" href="/manga/{{ manga.idManga }}">
                                  <div style="width : 260px ; height : 420px;  cursor : pointer; margin-top :20px" >
                                    <div style = "border : 1px solid #ccc ; margin-bottom : 10px ; border-radius : 5px ; padding : 5px">
                                      <img style = "object-fit : contain;" src= "static/images/{{manga.image}}"/>
                                    </div>
                    
                                    <div>
                                      <a style="font-weight : bold; font-size : 15px ; width : full" >{{manga.name}}</a>
                                    </div>
                                    <span>
                                        <i style="color : yellow;" class="fa-sharp fa-solid fa-star"></i>
                                        5
                                    </span>
                                  </div>
                                </a>
                          {% endfor %}
                      </div>
                  </div>
            </div>
      
</body>
{% endblock main-content %}