
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %} 


<link rel="stylesheet" href="{%static 'app/css/login.css' %}">
<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <a href = "/" class="col-sm-6 px-0 d-none d-sm-block">
            <img src = "{%static 'app/images/banner11.png' %}"
              alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: center;">
          </a>
        <div class="col-sm-6 text-black">
  
          <a href = "/" class="px-5">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            
            <img src="{%static 'app/images/HeaderLogo.png' %}" alt="Logo" style="width: 100px; height: 72; margin-top: 10px;">
          </a>
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

            <form style="width: 23rem;" method="POST" action="">
              {% csrf_token %}
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register</h3>
              
              <div style = "display: flex ; flex-direction: column;" class="form-outline mb-4">
                 <label class="form-label" for="form2Example18">Tài Khoản</label>
                 {{form.username}}
              </div>
  
              
             
              <div style = "display: flex ; flex-direction: column;"  class="form-outline mb-4">
                <label class="form-label" for="form2Example18">Email</label>
                {{form.email}}
             </div>

              
             <div style = "display: flex ; flex-direction: column;"  class="form-outline mb-4">
               <label class="form-label" for="form2Example18">Mật Khẩu</label>
              {{form.password1}}
           </div>


             
           <div style = "display: flex ; flex-direction: column;"  class="form-outline mb-4">
             <label class="form-label" for="form2Example18">Xác Nhận Mật Khẩu</label>
            {{form.password2}}
          </div>

              {% comment %} <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p> {% endcomment %}
              <p>Have an account? <a href="/login" class="link-info">Login here</a></p>
                      
          {% if messages %}
              {% for message in messages %}    
                      <script type=text/javascript>
                            alert('{{ message }}');
                      </script>
              {% endfor %}
          {% endif %}
             

              <div class="pt-1 mb-4">
                <button name = "dk" class="btn btn-info btn-lg btn-block" type="submit">Register</button>
              </div>
  
           </form>  
          </div>
  
        </div>
       
      </div>
     
      <script src="{%static 'app/js/Dialog.js' %}"></script>
      <script src="{%static 'app/js/Toast.js' %}"></script>
    
    </div>
  </section>