.comment_input{
    overflow: hidden;
    font-size: 14px;
    color: #999;
    height: 70px;
    padding: 5px 10px;
    background-color: #fff;
    cursor: text;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px #fff;
    display: block;
  }
  .comment_name {
      font-weight: 700;
      color: #03f;
      font-size: 13px;
  }
  .a_comment {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 5px;
    background-color: whitesmoke;
    padding: 5px;
  }
  
  .a_comment > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 0px 0;
    font-size: 20px;
    grid-gap: 20px;
  }
  .avatar {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .comment_content{
      grid-column-start: 2;
      grid-row-start: 2;
      grid-row-end: 4;
    } 
    .comment_footer{
      grid-row-start: 4;
      grid-column-start: 2;
    }
  .form_control{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .comment_form{
    display: none;
  }
  body,figure {
    margin: 0
  }
  button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
  }
  button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
  }